.button, .indexMain_contenedorServicios button, .indexHeader_contenedorInferior button {
  background-color: #F2F2F2;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
.button:hover, .indexMain_contenedorServicios button:hover, .indexHeader_contenedorInferior button:hover {
  transform: translateY(-2px);
  opacity: 0.8;
}

/**Reset**/
* {
  font-family: "Merriweather Sans", sans-serif;
  /**Se agrega "sans-serif" por si falla la primera**/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.colorBlanco {
  color: #F2F2F2;
}

.oscurecerFondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/**Header**/
.indexHeader {
  background-image: url(../img/escritorio1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.indexHeader h1,
.indexHeader h2,
.indexHeader p {
  color: #F2F2F2;
  text-align: center;
}

.indexHeader_contenedorInferior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  height: 100vh;
}

.indexHeader_contenedorInferior h2 {
  font-family: "Merriweather";
  font-size: 1.5rem;
  font-weight: bold;
}

.indexHeader_contenedorInferior h1 {
  font-size: 2rem;
  font-weight: bold;
}

.indexHeader_contenedorInferior p {
  /**italic**/
  font-weight: 300;
  font-style: italic;
  color: #F2F2F2;
}

/**MAIN**/
indexMain_contenedorSuperior {
  margin: 2rem 0;
}

.indexMain_QuienesSomos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #1B1B1B;
  gap: 1rem;
  padding: 1rem;
  margin: 2rem 0;
}

.indexMain_QueHacemos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #1B1B1B;
  gap: 1rem;
  padding: 1rem;
  margin: 2rem 0;
}

.indexMain_ComoTrabajamos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #1B1B1B;
  gap: 1rem;
  padding: 1rem;
  margin: 2rem 0;
}

.indexMain_contenedorServicios {
  background-color: #6F7C65;
  padding: 2rem 1rem;
  color: #F2F2F2;
}

.indexMain_contenedorServicios button {
  align-content: center;
}

.indexMain_cardServicios {
  background-color: #DCD6CE;
  display: flexbox;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;
  margin: 1rem 0;
  color: #1B1B1B;
}

.indexMain_cardServicios p {
  font-size: 12px;
}

.indexMain_AcordionPorQueElegirnos {
  background-image: url(../img/cuaderno2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  padding: 3rem 2rem;
  color: #F2F2F2;
}

.indexMain_AcordionPorQueElegirnos p {
  font-size: 16px;
}

/**MediaQueries INDEX**/
/**Tablet**/
@media (min-width: 500px) {
  .indexHeader_contenedorInferior {
    width: 70%;
    margin: 0 auto;
  }
}
/**Desktop**/
@media (min-width: 800px) {
  .indexHeader_contenedorInferior {
    align-items: flex-start;
    width: 70%;
    margin: 0 auto;
  }
  .indexHeader p {
    text-align: left;
  }
  .indexHeader_contenedorInferior button {
    align-self: center;
  }
  .indexMain_contenedorServicios {
    height: 100%;
  }
  .indexMain_cardServicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 8rem;
  }
  .indexMain_AcordionPorQueElegirnos {
    background-image: url(../img/cuaderno2.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
    padding: 2rem 15rem;
    color: #F2F2F2;
  }
}

/*# sourceMappingURL=styles.css.map */
